<header>
<%- include ('partials/header'); %>
</header>
<div  style="text-align: center;">
    <h3>Welcome To Lensale!</h3>
    <p>Lensale is a simple, user friendly web app where you can buy and sell cameras</p>
</div>

<div style="text-align: center; padding-bottom: 2px;">
    <a href="/sell">Cameras For Sale</a>
</div>

<div style="text-align: center;">
    <a href="/sell/new">Place A Camera For Sale</a>
</div>


<footer>
<%- include ('partials/footer'); %>
</footer>