<%- include ('partials/header'); %>
<div style="color: brown; padding-bottom: 2px ;" class="container">
    <h4 >Sign Up!</h4>
</div>


<div class="container">
    <form action="/signup" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button>Sign Up</button>
    </form>
</div>


<%- include ('partials/footer'); %>